option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 20
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 3000
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /_next/static: /var/app/current/.next/static
    /static: /var/app/current/public
  aws:elasticbeanstalk:environment:process:default:
    DUMMYTAILPATH: /dev/null
    PORT: 3000
    NODE_ENV: production
  aws:elasticbeanstalk:healthd:
    HealthCheckTimeout: 15
  aws:elasticbeanstalk:environment:process:default:healthcheck:
    MatcherHttpCode: 200
    Path: /api/health
    Port: 3000
    Protocol: HTTP
  aws:elasticbeanstalk:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t3.micro
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:ec2:vpc:
    VPCId: vpc-658ec30c
    Subnets: subnet-bbcd5af6
    AssociatePublicIpAddress: true
